In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/iris.csv', header=0)

In [3]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [4]:
df.tail()

     sepal.length  sepal.width  petal.length  petal.width    variety
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [7]:
df.sample(5)

     sepal.length  sepal.width  petal.length  petal.width     variety
132           6.4          2.8           5.6          2.2   Virginica
76            6.8          2.8           4.8          1.4  Versicolor
47            4.6          3.2           1.4          0.2      Setosa
60            5.0          2.0           3.5          1.0  Versicolor
31            5.4          3.4           1.5          0.4      Setosa

In [8]:
df.shape

(150, 5)

In [9]:
df.size

750

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB